html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

#main-canvas {
	width: 100%;
	height: 100%;
	background:#74E279 url("../img/background.svg") repeat-x left top;
	background-size: contain;
}

#offcanvas {
	position:fixed;
	top:0;
	left:0;

	background:#649fd9;
}
